


h1{
    color: cadetblue;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: rgb(255, 80, 211);
    font-style: italic;
    font-size: 15px;
}

p{
color: darkviolet;
font-size: 18px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


